@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[32px] xl:text-[42px] leading-[1.1] font-semibold;
  }
  .h4 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0); /* Mulai dari posisi awal */
    }
    100% {
      transform: translateX(-50%); /* Bergerak setengah panjang konten */
    }
  }

  .animate-marquee {
    animation: marquee 35s linear infinite; /* Ubah durasi animasi sesuai kebutuhan */
    display: flex;
    width: max-content; /* Pastikan lebar fleksibel */
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .text-outline-hover {
    -webkit-text-stroke: 1px #03b5fc;
  }

  .description-project {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Membatasi teks menjadi dua baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Custom Scrollbar for Modal */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1f;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #03b5fc 0%, #0284b8 100%);
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #0284b8 0%, #03b5fc 100%);
  }
  

}

